body{
    width: auto;
    height: 100vh;
    padding: 0 8% 0 8%;
    
  }

h1{
    width: 100%;
    font-size:5em;
    display:flex;
    justify-content: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  line-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}


li {
  position: relative;
  /* flex-direction: column; */
  
  padding: 20px 35px 100px 35px;
  /* line-height: 100px; */
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  width: 13.5%;
  /* flex-wrap: wrap; */
}

h3{
  /* width: 100%; */
  /* margin: 0 0 3% 0; */
  padding-top: 15px;
  margin-top: 0;
  text-align: center;
  line-height: 1em;
}

p{
  /* width: 100%; */
  line-height: 1.5em;
  text-align: center;
  font-size: .5em;
  margin: 0 0 2em 0;
}

button{
  width: 50%;
  height: 3em;
  margin-top: 1em;
  align-self: center;
}
img{
  max-width: 70%;
  width: auto;

}
img.active, img:hover{
  filter: brightness(20%);
  max-width: 100%;
}

a{
  line-height: 1.5em;
  font-size: .6em;
  display: block;
}