@font-face {
  font-family: "marviofree_personal_use";
  src: url("./src/fonts/marvio-freepersonaluse-webfont.woff2") format("woff2"),
    url("./src/fonts/marvio-freepersonaluse-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #a8ceb5;
  width: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  outline: 3px groove rgb(255, 255, 255);
  outline-offset: -40px;
  width: 100%;
  height: 100vh;
  background-color: #af9e97;
  background: url("./src/img/main.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

.main-content {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 100vh;
}

.hover,
.word,
h1 {
  cursor: pointer;
}

h1 {
  position: relative;
  color: #e8f6ed;
  font: 900 80px "Open Sans";
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.concept {
  position: relative;
  padding: 5em;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}
.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}

.concept-seven {
  display: flex;
  justify-content: center;
  align-items: center;
}
.concept-seven h1 {
  font-family: "marviofree_personal_use";
  letter-spacing: 35px;
  position: relative;
}
.concept-seven h1:before {
  font-family: "marviofree_personal_use";
  font-size: 50px;
  content: "feel the vibes";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 400px;
  color: transparent;
  letter-spacing: 10px;
  text-shadow: none;
}
.concept-seven:hover h1:before {
  transition: 1s ease;
  color: rgba(255, 255, 255, 0.8);
  animation: jump-out 1s ease forwards;
}

@keyframes jump-out {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

#h1{
  text-align: center;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  margin-top: 7rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  cursor: default;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 100px;
}

li {
 
  padding: 0 0 80px;
  margin: 0 0 8%;
  line-height: 100px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  height: auto;

  width: 30%;
  min-height: 400px;
  background-color: #e8f6ed;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  
  transition: 0.2s;
  outline: 3px groove rgb(255, 255, 255);
  outline-offset: -10px;
  
}

li:hover, .active{
  transform: translateY(-4%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

h3 {
  width: 100%;
  margin-right: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p {
  width: 100%;
  line-height: 2rem;
  text-align: center;
  padding: 0 1.5rem 2rem;
  font-size: 1rem;
  margin: 0;
  color: #1f3f33;
}

.cards{
  /* display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap; */
  padding: 0 5rem;
}
.card_img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  cursor: pointer;
}
.card_img:hover{
  filter: brightness(50%)
}

/* footer */

.footer-distributed {
  background-color: #1f3f33;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: normal 16px "Open Sans";
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  text-align: initial;
  padding: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.socials{
  max-width: 35px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}